.MuiDataGrid-columnHeaders{
    width: 100%;
    background-color: rgb(195, 255, 255);
    color: rgb(0, 62, 116);
    font-size: 18px;
}

.MuiDataGrid-root{
    width: 75rem;
    height: 10rem;
}

.MuiDataGrid-columnHeaderTitleContainer{
    width: 20rem;
}

.MuiDialogContent-root{
    width: 32rem;
}

.MuiDataGrid-cell {
    border: 1px solid red;
    /* outline: 1px solid red; */
}
.MuiDataGrid-cell:focus {
    border: 2px solid red;
    outline: 1px solid red;
}